@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box ;
}
body {
    font-family: 'Fira Sans', sans-serif;
    background-image: linear-gradient(to top, #bbc1cc 0%, #eaf0f8 100%);
    min-height: 100vh;
    width: 100%;
    text-align: center;
    
}
h1 {
    color: cadetblue;
    font-size: 45px; 
    margin-top: 40px;
    margin-bottom: 25px;
}

h2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 1em;
    color: rgb(64, 133, 136);
    border-color: rgb(148, 176, 65);
    border-style: solid;
    background-color: rgb(214, 237, 251);
    text-align: center;
    
}

h3 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    padding: 5px;
    color: rgb(38, 78, 220);
    text-align: center;
    

}

h4 {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    color: rgb(38, 141, 220);
    text-align: center;
}

p {
    color: rgb(102, 0, 255);
    font-size: small;
    text-align: center;
}

#introducción {
    font-weight: bold;
    font-size:medium;
    margin-left: 5%;
    margin-right: 5%;
    
}
#datos_personales {
    background-color: rgb(135, 228, 240);
    color: rgb(93, 128, 128);
}

#datos {
    margin-top: 10px;
    margin-bottom: 10px;
}

.pie_de_pagina {
    margin-top: 40px;
    margin-bottom: 10px;
}
